{% extends 'base.html' %}

{% block title%} Home {% endblock %}


{% block body%}






<!-- ======= Hero Section ======= -->
 <section id="hero" class="hero d-flex align-items-center">

   <div class="container">
     <div class="row">
       <div class="col-lg-6 d-flex flex-column justify-content-center">
         <h1 data-aos="fade-up">Welcome to Content.ai
            </h1>
         <h2 data-aos="fade-up" data-aos-delay="400">Create a unique content with the help of AI.
          <br>AI will write for you.</h2>
         <div data-aos="fade-up" data-aos-delay="600">
           <div class="text-center text-lg-start">
             <a href="/login" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
               <span>Get Started</span>
               <i class="bi bi-arrow-right"></i>
             </a>
           </div>
         </div>
       </div>
       <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
         <img src="static/img/banner-image.png" class="img-fluid" alt="">
       </div>
     </div>
   </div>

 </section><!-- End Hero -->













<!-- Information Section -->
   <section id="values" class="values">

     <div class="container" data-aos="fade-up">

       <header class="section-header">
         <p>Experience the full power of an AI</p>
         <p>content generator that delivers</p>
         <p>premium in seconds.</p>
       </header>

<section id="information">
   <div class="gradient-text">
       <h1> 10,000+ </h1>
   </div>
   <div class="para">
       <p>Professionals & Teams choose Content.ai </p>
   </div>

   <div class="info-work" data-aos="fade-up">
       <img src="static/img/web-page.png" alt="How it work" class="img-responsive">

    </div>
</section>

     </div>

   </section><!-- End Values Section -->

      















<!-- ======= Services Section ======= -->

<section id="services" class="services">

   <div class="container" data-aos="fade-up">

     <header class="section-header">
       <p> Our Services </p>
     </header>

     <div class="row gy-4">

       <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
         <div class="service-box blue">
           <i class="ri-discuss-line icon"></i>
           <h3> Generate Product Descriptions </h3>
           <p>Generate product descriptions for any types of products, simply enter the name and product description to get started.</p>
           <a href="/product-description" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
         </div>
       </div>

       <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
         <div class="service-box orange">
           <i class="ri-discuss-line icon"></i>
           <h3>Generate Videos ideas</h3>
           <p>Are you trying to come up with professional sounding Videos ideas but have hit a writers block? Let AI help you along.</p>
           <a href="/videoideas" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
         </div>
       </div>

       <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
         <div class="service-box green">
           <i class="ri-discuss-line icon"></i>
           <h3>Generate Tweets</h3>
           <p>Start generating tweet ideas with hashtags for your online social media campaigns on twitter. Create endless unique tweet ideas, no more writers block.
           </p>
           <a href="/tweet-ideas" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
         </div>
       </div>

     </div>

   </div>

 </section><!-- End Services Section -->








   <!-- ======= Contact Section ======= -->
   <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          
          <p>Contact info</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>NCBA&E Wapda Town campus, Northern Bypass,<br>Multan, Punjab <br>
                    Pakistan </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+92 0301 0000 000<br>+92 0301 0000 000</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>hamzakhan3906@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday<br>9:00AM - 02:00PM</p>
                </div>
              </div>
            </div>

          </div>

          
                        <div class="col-md-6">

                            <div class="map_main">

                               <div class="map-responsive">
                                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18943.92625633625!2d71.5249652734473!3d30.237838033335727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x393b35cd3de3e939%3A0x25c9ffd58ebec73b!2sNCBA%26E%20Wapda%20Town%20Campus!5e0!3m2!1sen!2s!4v1688230081004!5m2!1sen!2s" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                               </div>

                            </div>

                         </div>

          

        </div>

      </div>

      
    </section><!-- End Contact Section -->












  {% endblock%}